fastapi[standard]==0.115.12
uvicorn[standard]==0.33.0
python-multipart==0.0.20
python-dotenv==1.0.1
pydantic-settings==2.8.1
aiofiles==24.1.0
langchain==0.2.17
PyMuPDF==1.24.11
langchain-community==0.2.19

# RAG and LLM dependencies
langchain-groq==0.1.4
langchain-huggingface==0.0.1
llama-index==0.10.25
llama-index-llms-groq==0.1.4
llama-index-embeddings-huggingface==0.1.4
faiss-cpu==1.8.0
pandas==2.0.3
SQLAlchemy==2.0.43